<% include ./partials/boilerplate %>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img src="/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
        Types of Dinosaurs
      </a>
    </nav>

    <br>

    <div class="container">

    	<ul class="list-group">
  	  	<% dinosaursArray.forEach( (dinosaur) => { %>
  			<a href="/dinosaurs/<%= dinosaur.id %>"><li class="list-group-item"> <%= dinosaur.name %> | <a href="<%= dinosaur.image %>"> Image </a> </li></a>
  		  <% }) %>

  	  </ul>
  </div>
  <br>
  <div class="container">
    <form method='POST' action='/dinosaurs'>
      <label>Dinosaur Name</label>
      <input name='name' type='text' />
    </form>
  </div>
<% include ./partials/end %>
